<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="node_modules/ng-dialog/css/ngDialog.css">
    <link rel="stylesheet" href="node_modules/ng-dialog/css/ngDialog-theme-default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <title>Wie gaat mee naar Frankrijk</title>
</head>
<body>
<main id="gameSpace" ng-controller="selectieController">
    <!--selecteer spelers-->
    <h1>Welke 23 duivels zet jij op de Thalys naar het EK?</h1>
    <div>
        <button class="sporzaButton" id="btnBekijkTeam" >Bekijk je selectie</button>
        <button class="sporzaButton hidden" id="btnWijzig" value="wijzig je team" >Wijzig je team</button>
        <button class="sporzaButton hidden" id="btnBewaar" ng-disabled="aantalIsNietVoldoende" value="Bewaar" >Bewaar</button>
        <h2 ng-bind="aantalSpelers" class="aantal"></h2>
    </div>
    <form action="php/post.php" method="post">

        <div id="canvasLuik" class="hidden">
            <div id="luikBackground">
                <ul id="resultatenLijst" class="hidden">
                    <li ng-repeat="speler in selectie">{{speler}}</li>
                </ul>
            </div>
            <img src="img/Trein_Red_Devils.png" alt="treintje" id="trein">
        </div>
        <ul id="lijstAlleSpelers">
            <li class="speler"><input type="checkbox" name="speler1" value="Toby Alderweireld">
                <img src="img/Toby%20Alderweireld.png" alt="Alderweireld">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler2" value="Zakaria Bakkali">
                <img src="img/Zakaria%20Bakkali.png" alt="Bakkali">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler3" value="Michy Batshuayi">
                <img src="img/Michy%20Batshuayi.png" alt="Batshuayi">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler4" value="Christian Benteke">
                <img src="img/Christian%20Benteke.png" alt="Benteke">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler5" value="Dedryck Boyata">
                <img src="img/Dedryck%20Boyata.png" alt="Boyota">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler6" value="Yannick Carrasco">
                <img src="img/Yannick%20Carrasco.png" alt="Carrasco">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler7" value="Luis Pedro Cavanda">
                <img src="img/Luis%20Pedro%20Cavanda.png" alt="Cavanda">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler8" value="Nacer Chadli">
                <img src="img/Nacer%20Chadli.png" alt="Chadli">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler9" value="Laurens De Bock">
                <img src="img/Laurens%20De%20Bock.png" alt="De Bock">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler10" value="Kevin De Bruyne">
                <img src="img/Kevin%20De%20Bruyne.png" alt="De Bruyne">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler11" value="Steven Defour">
                <img src="img/Steven%20Defour.png" alt="Defour">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler12" value="Moussa Dembele">
                <img src="img/Christian%20Benteke.png" alt="Dembele">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler13" value="Jason Denayer">
                <img src="img/Jason%20Denayer.png" alt="Denayer">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler14" value="Laurent Depoitre">
                <img src="img/Laurent%20Depoitre.png" alt="Depoitre">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler15" value="Eden Hazard">
                <img src="img/Eden%20Hazard.png" alt="Eden Hazard">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler16" value="Jean-François Gillet">
                <img src="img/Jean-Francois%20Gillet.png" alt="Gillet">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler17" value="Jordan Lukaku">
                <img src="img/Jordan%20Lukaku.png" alt="Jordan Lukaku">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler18" value="Vincent Kompany">
                <img src="img/Vincent%20Kompany.png" alt="Kompany">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler19" value="Sven Kums">
                <img src="img/Sven%20Kums.png" alt="Kums">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler20" value="Nicolas Lombaerts">
                <img src="img/Nicolas%20Lombaerts.png" alt="Lombaerts">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler21" value="Dries Mertens">
                <img src="img/Dries%20Mertens.png" alt="Mertens">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler23" value="Thomas Meunier">
                <img src="img/Thomas%20Meunier.png" alt="Meunier">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler24" value="Simon Mignolet">
                <img src="img/Simon%20Mignolet.png" alt="Mignolet">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler25" value="Kevin Mirallas">
                <img src="img/Kevin%20Mirallas.png" alt="Mirallas">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler26" value="Radja Nainggolan">
                <img src="img/Radja%20Nainggolan.png" alt="Naingolan">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler27" value="Divock Origi">
                <img src="img/Divock%20Origi.png" alt="Origi">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler28" value="Dennis Praet">
                <img src="img/Dennis%20Praet.png" alt="Praet">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler29" value="Romelu Lukaku">
                <img src="img/Romelu%20Lukaku.png" alt="Lukaku">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler30" value="Mats Sels">
                <img src="img/Matz%20Sels.png" alt="Sels">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler31" value="Hans Vanaken">
                <img src="img/Hans%20Vanaken.png" alt="Vanaken">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler32" value="Thomas Vermaelen">
                <img src="img/Thomas%20Vermaelen.png" alt="Vermaelen">
                <i class="fa fa-check hidden"></i>

            </li>
            <li class="speler"><input type="checkbox" name="speler33" value="Jan Vertonghen">
                <img src="img/Jan%20Vertonghen.png" alt="Vertonghen">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler34" value="Axel Witsel">
                <img src="img/Axel%20Witsel.png" alt="Witsel">
                <i class="fa fa-check hidden"></i>
            </li>
            <li class="speler"><input type="checkbox" name="speler35" value="speler35">
                <img src="img/Laurent%20Ciman.png" alt="Ciman">
                <i class="fa fa-check hidden"></i>
            </li>

        </ul>

    </form>
    <button id="btnSelecteer23">selecteer 23 spelers</button>
</main>

</body>
<script type="text/ng-template" id="testTemplate">
    <h1>U heeft uw {{23 - aantalSpelers}} spelers gekozen</h1>
    <input type="button" ng-click="bewaar()" value="Bewaar" class="sporzaButton" id="btnBewaarPopup"/>
    <input type="button" ng-click="wijzig()" value="Wijzig" class="sporzaButton" id="btnWijzigPopup">
</script>
<script src="lib/jquery.min.js"></script>
<script src="lib/jquery-ui.min.js"></script>

<script src="lib/angular.js"></script>
<script src="node_modules/ng-dialog/js/ngDialog.js"></script>

<script src="app.js"></script>
<script src="controllers/selectieController.js"></script>
<!--
<script src="js/selectPlayers.js"></script>
-->

</html>