

input[type='checkbox'] {
    display: none;
}
main{
    width: 670px;
    font-family: 'Lato', sans-serif;
}

#GK, #V, #M, #A{

    padding: 10px 35px;
    list-style-type: none;
}

.hidden{
    display: none !important;
}

#gameSpace h1{
    width: 670px;
}

.verborgen{
    visibility: hidden !important;
}

#GK>li, #V>li {
    width: 65px;
    /**height: 220px;*/
    display: inline-block;
    margin: 5px;
    position: relative;

}

#M>li, #A>li{
    width: 65px;
    /**height: 220px;*/
    display: inline-block;
    margin: 5px;
    position: relative;
}

li>img{
    width: 65px;
    z-index: 10;
}

#trein{
    width: 630px;
    height: auto;
    position: absolute;
    margin-top: 250px;
    left: 700px;
    z-index: 51;
}

#canvasLuik{

    position: absolute;
    overflow: hidden;
    width: 670px;
    padding: 0;
    z-index: 40;
}



.aantal{
    text-align: right;
    margin-right: 40px;

}

.ngdialog.ngdialog-theme-default .ngdialog-content {

    margin: 150px 110px !important;
}

.sporzaButton{
    background-color: #066862;
    border: 0;
    padding: 15px 30px;
    color: white;
    outline: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
}

.sporzaButton:disabled{
    opacity: 0.5;
}

#luikBackground{
    z-index: 50;
    width: 670px;
    height: 0;
    background-color: #066862;
    overflow: scroll;
    overflow-x: hidden;
}

#resultatenLijst{
    padding: 0;
    list-style-type: none;
    color: white;
    opacity: 0;
    height: 100%;
    /*overflow-x: hidden;*/
    width: 102%;
    margin-top: 0;
}
#resultatenLijst>li{
    width: 50%;
    padding-top: 20px;
    position: relative;
    float: left;
}

.speler .check{
    position: absolute;
    top: 0;
    right: 0;
    color: #066862;
    text-shadow: 4px 4px 10px #333333;
    margin: -5px;
    width: 35%;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}

#checkboxes{
    width: 670px;
    background-image: url("../img/Background.png");

}

.nietgekozen{
    opacity: 0.5;
}

.spelernaam{
    width: 60%;
    display: inline;
    margin-left: 15px;
}

.percent{
    float: right;
    right: 30px;
    display: inline;
    position: absolute;
}

#innerContainerCheckboxes{
    margin-left: auto;
    margin-right: auto;
}



@media screen and (max-device-width: 600px), screen and (max-width: 600px){
    main, #canvasLuik, #gameSpace, #checkboxes, #luikBackground, #resultatenLijst{
        width: 100%;
    }

    #GK, #V, #M, #A{
        padding: 10px;
    }

    #GK>li, #V>li{
        width: 23%;
        margin: 1%;
    }
    #M>li, #A>li{
        width: 23%;
        margin: 1%;
    }


    #GK>li>img:nth-child(2), #V>li>img:nth-child(2), #M>li>img:nth-child(2), #A>li>img:nth-child(2){
        width: 100%;
    }
    .ngdialog.ngdialog-theme-default .ngdialog-content {

        margin: 0 auto !important;
        width: 100%;
    }
    #gameSpace>h1{
        width: 100%;
    }

    #gameBody{
        margin: 0;
        padding: 0;
    }
    .percent{
        right: 15px;
    }

    #resultatenLijst>li{
        width: 100%;
    }
}