form{
    width: 670px;
}

input[type='checkbox'] {
    display: none;
}
main{
    width: 670px;
    font-family: 'Lato', sans-serif;
}

ul{
    height: 500px;
    overflow: scroll;
    background-image: url("../img/Background.png");
}

.hidden{
    display: none;
}

li{
    width: 130px;
    height: 220px;
    display: inline-block;
    margin: 5px;
}

#trein{
    width: 630px;
    margin: 20px;
    height: 50px;
    background-color: orange;
}

.driveAway{
    -webkit-transition: -webkit-transform 2s ease-in;
    -webkit-transform:translate(-750px,0px);

}

.checked{
    border: 3px solid yellow;
    margin: 2px;
}

.aantal{
    float: right;
    width: 670px;
}